:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --foreground: #f0f0f0;
  --foreground-secondary: #0f0f0f;
  --background-primary: #1e1e1e;
  --background-secondary: #3e3e3e;
  --elements: #dedede;
  --elements-secondary: #0c0c0c;

  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);

  color: var(--foreground);
  background-color: var(--background-primary);
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
}

.buttons-container {
  min-width: 45vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.buttons button {
  width: 100%;
}

input,
button {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--foreground-secondary);
  background-color: var(--elements);
  box-shadow: var(--box-shadow);
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

.card {
  background-color: var(--elements);
  color: var(--foreground-secondary);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 0.5em 1em;
}

.card-dark {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 1em;
  background-color: var(--background-secondary);
  color: var(--foreground);
}

h3 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

h2 {
  margin-top: 0;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #fff3;
  width: 100%;
}

.green {
  background-color: #bfb;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-width: 45vw;
  margin-bottom: 2em;
}

.secondary-button {
  background-color: transparent;
  border: 1px solid var(--elements);
  color: var(--foreground);
}
