.select-device {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #00000060;
  text-decoration: underline;
  cursor: pointer;
}

.device-card {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
